<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>addama.net | Writing Portfolio | {{ page.title }}</title>
		<link rel="stylesheet" href="/css/default.css">
	</head>
	<body>
		<a id='top' title='Top of the page'></a>
		{% include header.html page=page %}
		<main>
		{% if page.title != 'Index' and page.title != 'About' %}
			{% include reading_time.html %}
		{% endif %}
			{{ content }}
		</main>
		{% if page.title != 'Index' and page.title != 'About' %}
		<footer>
			<a href='#top' title='Back to the top of the page'>Back to top</a>
		</footer>
		{% endif %}
	</body>
</html>